body {
  background-color: #282c34;
}

.title {
  font-size: 52px;
  text-align: center;
  color: #61dafb;
}

p {
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  background-color: #61dafb;
  color: #6b61fb;
}